.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
}

.btn__list {
  list-style: none;
  display: flex;
  margin: 0;
  margin-left: 15px;
  padding: 0;
  gap: 10px;
}

.feedback__btn {
  text-align: center;
  min-width: 100px;
  min-height: 30px;
  color: black;
  background-color: greenyellow;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  margin-right: auto;
}

.statistic__item {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: 15px;
}

.statistic__title {
  font-size: 32px;
  font-weight: 700;
}
